@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 3.2rem;
}

.nav div.logo a:hover {
    color: #40e0d0;
}

.nav div.main_list {
    position: absolute;
    left: 1001px;
    height: 65px;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.8rem;
}

.nav div.main_list ul li a:hover {
    color: #40e0d0;
}

.home {
    width: 100%;
    height: 768px;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 1;
}



@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}

.affix {
    padding: 0;
    background-color: #111;
}

.myH2 {
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}
@media all and (max-width:700px){
	.myP {
		padding:2%;
	}
}



#slideshow {
    overflow: hidden;
    position: relative;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
  
#slideshow img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.auth-field {
    position: absolute;
    padding: 5px;
    background: #fff;
    box-shadow: 0 0 10px 5px #24ff5b4d;
    border-radius: 30px;
    overflow: hidden;
    width: 380px;
    height: 480px;
    left: 1000px;
    top: 150px;
}

.button-field {
    width: 220px;
    margin: 35px 80px;
    position: relative;
    box-shadow: 0 0 20px 9px #24ff5b4d;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #10ff60, #ffee06);
    border-radius: 30px;
    transition: 0.5s;
}

.input-class {
    position: absolute;
    width: 280px;
    transition: 0.5s;
}

#login {
    left: 55px;
}

#register {
    left: 450px;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-bottom: 1px solid #999;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: none;
    background: transparent;
}

.check-box {
    margin: 30px 10px 30px 0;
}

.login-save {
    color: #777;
    font-size: 12px;
    bottom: 65px;
    position: absolute;
}

.term-condition {
    color: #777;
    font-size: 12px;
    bottom: 65px;
    position: absolute;
}

.submit-btn {
    width: 90%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #10ff60, #ffee06);
    border: 0;
    outline: none;
    border-radius: 30px;
}