<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Manage Profile</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../css/style.css" rel="stylesheet">
</head>
<body>
    <div class="background">
      <div class="cover">
        <div class="profile-pic"></div>
      </div>
      <div class="info-field">
        <button type="button" class="edit-btn">Edit Profile</button>
        <form class="info-input-class"></form>
      </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="../js/scripts.js"></script>
</body>
</html>